@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

body {
    margin: 0;
}

.App {
    background: rgb(84, 30, 3);
    background: linear-gradient(0deg, rgba(84, 30, 3, 1) 0%, rgba(158, 52, 15, 1) 49%, rgba(29, 1, 1, 1) 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App>* {
    font-family: 'IM Fell Great Primer SC', serif;
}