#Deck {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(28vh, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    padding: 30px;
    padding-top: 0;
    padding-bottom: 5px;
}